// Галлерея (список)
.gallery {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;

  margin-left: -20px;
  margin-top: -20px;
  margin-bottom: 20px;
}

// Элемент списка
.gallery-item {
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 5px;

  flex-basis: calc(100% / 3 - 20px);
}

// Карточка целиком
.photo-card {
  height: 350px;

  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.9;
  }
}

.photo-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

// Контейнер статистики
.stats {
  height: 50px;

  padding: 15px;

  display: flex;
  justify-content: space-between;
}

// Блок иконок
.stats-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aba8a8;
}

// Иконка
.material-icons {
  margin-right: 10px;
  color: #aba8a8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #6e6c6c;
  }
}
