#load-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 0;

  background-color: #2496e2;

  opacity: 1;

  transition: opacity 250ms ease-out;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }

  &.is-hidden {
    display: none;
  }
}

.btn-spinner {
  display: inline-block;
}

.btn-spinner.is-hidden {
  display: none;
}
