.load-btn {
  display: block;

  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 14px;
  border: 0;
  border-radius: 5px;

  color: #ffffff;
  background-color: #2496e2;

  font-weight: 600;
  text-align: center;
  text-decoration: none;

  opacity: 1;

  transition: opacity 250ms ease-out;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }
}

.load-btn.is-hidden {
  display: none;
}
